@media (max-width: 1274px) {
	.container {
		width: 1126px;
	}

	.item {
		margin: 0 !important;
	}

	.promo {
		height: 587px !important;
	}

	.gallery {
		height: 560px;
	}

	.gallery__left,
	.gallery__right {
		width: 552px;
	}

	.gallery__first,
	.gallery__second {
		width: 265px;
		height: 560px;
	}

	.gallery__fourth,
	.gallery__third {
		width: 266px;
	}

	.gallery__fifth {
		width: 100%;
		height: 260px;
	}


}

@media (max-width: 1208px) {
	.container {
		width: 1130px;
	}

	.contacts__text_sub {
		margin-right: 25px;
	}

	.contacts__phone {
		margin-left: 0;
		font-size: 11.5px;
	}

	.wraper_soc {
		width: 110px;
	}

	.contacts__text {
		display: inline-flex;
	}

}

@media (max-width: 1199px) {
	.container {
		width: 994px;
	}

	.contacts__text_sub {
		display: none;
	}

	.topmenu {
		width: 720px;
	}

	.promo {
		height: 519px !important;
	}

	.gallery {
		height: 488px;
		margin-top: 30px;
	}

	.gallery__left,
	.gallery__right {
		width: 485px;
	}

	.gallery__top {
		height: 230px;
	}

	.gallery__first,
	.gallery__second {
		width: 229px;
		height: 488px;
		background-size: auto 488px;
	}

	.gallery__fourth,
	.gallery__third {
		width: 230px;
		background-size: 230px auto;
	}

	.gallery__fifth {
		width: 100%;
		height: 230px;
		background-size: auto 230px;
	}

	.gallery__subtitle {
		font-size: 19px !important;
	}

	.gallery_s__footer {
		.gallery__subtitle {
			font-size: 16px !important;
		}
	}

	.gallery_v__img {
		height: 350px;
		padding-top: 33px;

		img {
			height: 293px;
		}
	}

	.gallery_s__img {
		min-height: 150px;

		img {
			width: 166px;
		}

		.img_h {
			width: 197px;
		}
	}

	.gallery_h__img {
		padding-top: 28px;
		height: 150px;

		img {
			width: 374px;
		}
	}

	.tabs__nav {
		margin-top: 18px !important;
	}

	.chewing-tobacco-card,
	.cigarettes-card,
	.tobacco-hookah-card,
	.vaporizers-card {
		width: 225px !important;
		height: 430px !important;
		margin-left: 12px !important;
		margin-right: 12px !important;
	}

	.product__img {
		background-size: 240px auto !important;

		img {

			width: 170px;
		}

		.img_tob {
			width: 210px;
		}
	}

	.new-products {
		height: 688px !important;
	}

	.card__subtitle {
		font-size: 22px;
	}

	.card__text {
		font-size: 15px;
		padding-bottom: 38px;
	}

	.card__footer__subtitle {
		font-size: 15px;

		span {
			font-size: 34px;
		}
	}

	.about-company__top {
		background-size: auto 530px;
	}

	.about-company__img {
		img {
			height: 310px;
		}
	}

	.about-company__line {
		margin-top: 28px;
	}

	.cooperation {
		height: 440px;
		padding-top: 20px;
	}

	.contacts__wrapper {
		width: 970px;
	}
}

@media (max-width: 1024px) {

	.topmenu {
		width: 690px;
	}

	.arrow:before {
		right: -10px;
	}

	.submenu {
		padding: 20px;
	}

	.container,
	.brands_static {
		width: 943px;
	}

	.promo {
		height: 460px !important;
	}

	.gallery {
		height: 441px;
	}

	.gallery__left,
	.gallery__right {
		width: 462px;
	}

	.gallery__first,
	.gallery__second {
		width: 220px;
		height: 444px;
		background-size: 220px auto;
	}

	.gallery__top {
		height: 223px;
	}

	.gallery__fourth,
	.gallery__third {
		width: 223px;
		background-size: 223px auto;
	}

	.gallery__fifth {
		width: 100%;
		height: 200px;
		background-size: 464px auto;
	}

	.gallery_v__img {

		img {
			height: 285px;
		}
	}

	.gallery_h__img {
		padding-top: 20px;
		height: 138px;

		img {
			width: 362px;
		}
	}

	.brands {
		height: 227px;
	}

	.brands__wrapper {
		padding-top: 16px;
		padding-bottom: 27px;
	}

	.chewing-tobacco-card,
	.cigarettes-card,
	.tobacco-hookah-card,
	.vaporizers-card {
		width: 225px !important;
		height: 430px !important;
		margin-left: 7px !important;
		margin-right: 7px !important;
	}

	.contacts__wrapper {
		width: 910px;
	}

	.about-company__top {
		background-size: auto 475px;
	}

	.about-company__img {
		img {
			height: 280px;
		}
	}

	.about-company {
		background-size: auto 1114px;
	}
}

@media (max-width: 991px) {
	.contacts {
		display: none;
	}
}

@media (max-width: 962px) {

	.container {
		width: 720px;
	}

	.main-menu__mobile {
		display: flex;
	}

	.main-menu {
		display: none;
	}
}