.product-block {
	width: 100%;
	padding-top: 65px;
}

.block__header {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	color: $accent;
	font-weight: 400;
	font-size: 24px;
	margin-bottom: 70px;
	width: 610px;

}

.block__header_text {
	margin: 0 25px;
}

.block__header_line {
	height: 1px;
	width: 224px;
	background-color: $accent;
}

.product__items {
	display: flex;	
	overflow: hidden;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;

	.item {
		margin-bottom: 60px;
		margin-left: 0;
		margin-right: 0;
	}

	.filling-empty-space-childs {
		width: 280px; /*the width of the images in this example*/
		height: 0; /*Important! for the divs to collapse should they fall in a new row*/
	}
}

.product-chewing__line {
	width: 100%;
	height: 1px;
	background-color: rgba($color: $textcolor, $alpha: 0.4);
	margin-bottom: 40px;
	
}

.product__line {
	width: 95%;
	height: 1px;
	background-color: rgba($color: $textcolor, $alpha: 0.4);
	margin-bottom: 40px;
	margin-top: 50px;
}

.products_page {
	background-image: url(../../../../images/dist/products/bg-products.webp);
	background-repeat: repeat-y;
	background-position: center;
	background-size: contain;	
	width: 100vw;	
	position: relative;
}

